---
import Nav from "@components/layout/Nav.astro";
import { getLangFromUrl } from "../i18n/utils";
import { SITE_TITLE } from "../consts";

interface Props {
    title: string;
    description: string;
    image?: string;
}

const { title, description, image = "/blog-placeholder-1.jpg" } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- Font preloads -->
        <link
            href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap"
            rel="stylesheet"
        />

        <link
            rel="alternate"
            type="application/rss+xml"
            title={SITE_TITLE}
            href={new URL("rss.xml", Astro.site)}
        />
        <meta name="generator" content={Astro.generator} />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <!-- Open Graph-->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />
    </head>
    <body>
        <Nav />
        <slot />
    </body>
    <style is:global>
        :root {
            --accent: 136, 58, 234;
            --accent-light: 224, 204, 250;
            --accent-dark: 49, 10, 101;
            --accent-gradient: linear-gradient(
                45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%
            );
        }

        @font-face {
            font-family: "moderustic";
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        html {
            font-family: "moderustic";
            background: #edecde;
        }

        code {
            font-family:
                Menlo,
                Monaco,
                Lucida Console,
                Liberation Mono,
                DejaVu Sans Mono,
                Bitstream Vera Sans Mono,
                Courier New,
                monospace;
        }

        * {
            color: black;
        }

        h1 {
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.6;
            text-align: center;
        }

        h2 {
            font-size: 2rem;
            font-weight: 300;
            line-height: 1.4;
            text-align: center;
        }

        a:hover {
            text-decoration: underline 2px;
            text-decoration-color: #cbaacb;
            border-radius: 10px;
        }

        .content a {
            text-decoration: underline 2px;
            text-decoration-color: #cbaacb;
            border-radius: 10px;
        }
        .pastel-purple {
            color: #cbaacb;
        }

        .pastel-red {
            color: #ffc6d0;
        }

        .pastel-blue {
            color: #789cce;
        }

        .button {
            margin: 1rem;
            background: white;
            padding: 0.5rem;
            border-radius: 0.5rem;
            box-shadow: 4px 4px black;
        }

        .button:hover {
            text-decoration: underline 2px;
            text-decoration-color: #cbaacb;
            border-radius: 10px;
        }

        .profile-image-sq {
            border-radius: 10%;
            border: 5px solid #f3b0c3;
            object-fit: cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
            animation: fadeIn 1s 0s ease-in-out;
        }

        .profile-image {
            border-radius: 50%;
            border: 5px solid #f3b0c3;
            object-fit: cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
            animation: fadeIn 1s 0s ease-in-out;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(5rem);
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes slideInLeft {
            from {
                transform: translateX(-100%);
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }
        @keyframes slideInRight {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes shadow {
            from {
                box-shadow: none;
            }
            to {
                box-shadow: 8px 8px #cbaacb;
            }
        }
    </style>
</html>
